# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# SQLite databases
*.db

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/
